<mat-toolbar color="primary">My Angular App</mat-toolbar>

<mat-card class="card">
  <mat-card-title><h1>{{ title}}</h1> </mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="accent" (click)="handleClick()">
      Zum Repository! Klicke hier!
    </button>
  </mat-card-content>
</mat-card>

<!-- Visibility Toggle and Status with ngIf and ngSwitch -->
<div class="centered">
  <div
    *ngIf="isVisible"
    class="lamp"
    [ngClass]="{ online: status === 'online', offline: status === 'offline' }"
  ></div>

  <div [ngSwitch]="status">
    <div *ngSwitchCase="'online'">User is online</div>
    <div *ngSwitchCase="'offline'">User is offline</div>
    <div *ngSwitchDefault>User status unknown</div>
  </div>
  <button mat-button (click)="toggleVisibility()">
    {{ status === "online" ? "Ausloggen" : "Einloggen" }}
  </button>
</div>

<!-- Shopping List with ngFor -->
<div class="centered">
  <h5>Einkaufsliste:</h5>
  <ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>
</div>

<!-- Dynamic Text Styles with ngClass -->
<div class="centered">
  <div
    [ngClass]="{
      bold: isBold,
      italic: isItalic,
      underline: isUnderlined
    }"
  >
    HFTM - Webprogrammieren
  </div>
  <!-- Buttons for Toggling Text Styles -->
  <div class="button-row">
    <button mat-button (click)="toggleBold()">Toggle Bold</button>
    <button mat-button (click)="toggleItalic()">Toggle Italic</button>
    <button mat-button (click)="toggleUnderline()">Toggle Underline</button>
  </div>
</div>

<!-- Dynamic Color Change with ngStyle -->
<div class="centered">
  <div class="lamp" [ngStyle]="{ 'background-color': color }"></div>
  <button mat-button (click)="changeColor()">Farbe Ändern!</button>
</div>

<!-- Two-Way Data Binding with NgModel -->
<div class="centered">
  <input [(ngModel)]="name" placeholder="Enter your name" />
  <p>Hello, {{ name }}!</p>
</div>

<router-outlet></router-outlet>
